{% load static %}

<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
        extend: {
            fontFamily: {
            inter: ['Inter']
            },
            aspectRatio: {
            '4/3': '4 / 3',
            '7/6': '7 / 6',
            '5/9': '5 / 9',
            '7/12': '7 / 12',
            '5/8': '5 / 8',
            '7/5': '7 / 5',
            },
            colors:{
                text_grey: '#6C6C6C',
                soft_grey: '#D9D9D9',
                dark_grey: '#3E3E3E',
                light_grey: '#F5F5F5',
                primary_red: '#E61F1F',
                darker_red: '#BE1A1A',
                blog_dark: '#292929',
                dark_section_grey: '#2F2F2F',
                blue_bgwhite: '#F8FAFC',
                blue_bgbase: '#F1F5F9',
                blue_bgsoft: '#C9D9F4',
                blue_bgslate: '#94ABD0',
                blue_bgprimary: '#6F86AA',
                blue_bgdark: '#446BAB',
                blue_bgdarker: '#315287',
                blue_bgnavbase: '#F8FAFC',
            }
        }
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>