{% extends 'base.html' %}
{% load static %}
{% block title %}
    Activity
{% endblock title %}
    {% block others %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
            extend: {
                fontFamily: {
                inter: ['Inter']
                },
                aspectRatio: {
                '4/3': '4 / 3',
                '7/6': '7 / 6',
                '5/9': '5 / 9',
                '7/12': '7 / 12',
                '5/8': '5 / 8',
                },
                colors:{
                    text_grey: '#6C6C6C',
                    soft_grey: '#D9D9D9',
                    light_grey: '#F5F5F5',
                    primary_red: '#E61F1F',
                    darker_red: '#BE1A1A',
                    dark_section_grey: '#2F2F2F',
                }
            }
            }
        }
    </script>
    {% endblock others %}
{% block content %}
{% include 'partials/navbar.html' %}

{% if request.GET.q is not null %}
    <h1 class="text-[25px] mt-[30px] ml-[30px] font-inter font-bold text-dark_section_grey md:text-[30px]">
        Hasil pencarian untuk "<span class = "text-primary_red">{{ request.GET.q }}</span>"
    </h1>
{% else %}
    <div class="h-auto bg-light_grey py-[15px]">
        <div class = "flex w-full justify-center h-[300px] overflow-clip overflow-x-scroll">
            <a href="#" class = "h-full mr-[25px] bg-blue-700 aspect-video rounded-[20px]">
                <img src="{% static 'image/20220713_082023.jpg' %}" alt="" class="article h-full object-cover rounded-[20px]">
            </a>
            <a href="#" class = "h-full mr-[25px] bg-blue-700 aspect-video rounded-[20px]">
                <img src="{% static 'image/eventPic_Rossa.png' %}" alt="" class="article h-full object-cover rounded-[20px]">
            </a>
            <a href="#" class = "h-full mr-[25px] bg-blue-700 aspect-video rounded-[20px]">
                <img src="{% static 'image/eventPic_Rossa.png' %}" alt="" class="article h-full object-cover rounded-[20px]">
            </a>
            <a href="#" class = "h-full mr-[25px] bg-blue-700 aspect-video rounded-[20px]">
                <img src="{% static 'image/eventPic_Rossa.png' %}" alt="" class="article h-full object-cover rounded-[20px]">
            </a>
        </div>
    </div>
    <h1 class="mt-[30px] ml-[30px] font-inter font-bold text-dark_section_grey text-[30px]">
        Kegiatan
    </h1>
{% endif %}

<div class="rounded-[20px] bg-light_grey mt-[20px] mx-[30px] pt-[20px] px-[20px] pb-[50px]">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-[30px]">
        {% for activity in activities %}
        <a href="{{ activity.get_absolute_url }}" class="">
            <div class="rounded-[15px] overflow-hidden shadow-lg">
              <img class="w-full aspect-video" src={% static 'image/eventPic_Rossa.png' %} alt="Activity">
              <div class="px-[20px] py-[15px] bg-white">
                <div class="font-inter font-bold text-xl mb-[10px]">{{ activity.title }}</div>
                <p class="mt-[40px] font-inter text-gray-700 text-base">
                    16 Juli 2022
                </p>
              </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% include "partials/pagination.html" with page=activities %}
</div>


{% endblock content %}

