{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard Data
{% endblock title %}

{% block others %}
{% include 'partials/others.html' %}
{% endblock others %}

{% block content %}
{% include 'partials/navbar.html' %}
<div class="h-auto w-auto px-[50px] pb-[50px] pt-[20px]">
    <h1 class="mb-[30px] font-inter font-bold text-dark_section_grey text-[30px]">
        Dashboard
    </h1>
    <div class="flex flex-col bg-blue_bgbase px-[30px] pt-[30px] space-y-[30px]">
        <div class="flex flex-row justify-center space-x-[30px]">
            <div class="w-[400px] aspect-8/7 bg-white rounded-[10px] drop-shadow-lg">
                <div class="flex flex-col px-[20px] pt-[20px] space-y-[10px]">
                    <h1 class="font-bold font-inter text-[25px]">
                        Testing Graph
                    </h1>
                    <div class="grow">
                        <canvas id = "firstChart" width="400" height="300"></canvas>
                    </div>
                </div>
            </div>
            <div class="w-[400px] aspect-8/7 bg-white rounded-[10px] drop-shadow-lg">
                <div class="px-[20px] pt-[20px]">
                    <h1 class="font-bold font-inter text-[25px]">
                        Testing Graph
                    </h1>
                </div>
            </div>
            <div class="w-[400px] aspect-8/7 bg-white rounded-[10px] drop-shadow-lg">
                <div class="px-[20px] pt-[20px]">
                    <h1 class="font-bold font-inter text-[25px]">
                        Testing Graph
                    </h1>
                </div>
            </div>
        </div>
        {% include 'partials/wasteData_housing.html' %}
        {% include 'partials/wasteData_nonHousing.html' %}
    </div>
</div>

<script>
    const ctx = document.getElementById('firstChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
     

{% endblock content %}