{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home Page
{% endblock title %}
    {% block others %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
            extend: {
                fontFamily: {
                inter: ['Inter']
                },
                aspectRatio: {
                '4/3': '4 / 3',
                '7/6': '7 / 6',
                },
                colors:{
                    text_grey: '#6C6C6C'
                    soft_grey: '#D9D9D9'
                }
            }
            }
        }
    </script>
    {% endblock others %}

{% block content %}
{% include 'partials/navbar.html' %}

{% endblock content %}