{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home Page
{% endblock title %}
    {% block others %}
    {% include 'partials/others.html' %}
    {% endblock others %}

{% block content %}
{% include 'partials/navbar.html' %}
<div class="h-auto px-[40px] py-[20px] lg:py-[60px] lg:px-[80px]" style="background-image: url('{% static 'image/pic_LandingBg.png' %}');">
    <div class="flex flex-col-reverse lg:flex-row w-full h-full items-center">
        <div class="h-auto w-full lg:w-[60%] lg:mr-[50x]">
            <h1 class="font-inter font-semibold text-white text-[40px] lg:text-[50px] lg:w-2/3 leading-[50px] text-center lg:text-left">
                KKN Sinergi Baki Desa Gentan
            </h1>
            <p class="font-inter font-base text-white text-[15px] lg:text-[20px] mt-[15px] text-center lg:text-left">
                Selamat datang di website KKN-PPM UGM Sinergi Baki Desa Gentan. Website ini ditujukan untuk menampilkan hasil kerja tim mahasiswa KKN UGM yang bertugas di Kelurahan Gentan, Kecamatan Baki, Kabupaten Sukoharjo, Jawa Tengah. 
            </p>
        </div>
        <div class="h-full w-full md:w-[60%] lg:w-[40%]">
            <img src="{% static 'image/pic_LandingGentan.png' %}" alt="" class="w-full aspect-square">
        </div>
    </div>
</div>

<div class="mt-[20px] lg:mt-[30px] h-auto py-[20px] px-[40px] lg:py-[40px] lg:px-[90px] bg-light_grey">
    <h1 class="flex justify-center font-bold font-inter text-[40px] text-blue_bgdarker">
        Program Kami
    </h1>
    <div class="flex flex-col lg:flex-row space-y-[30px] lg:space-y-0 mt-[20px] lg:mt-[40px] h-auto w-full justify-center">
        <div class="h-auto w-full mx-[5px]">
            <div class="flex justify-center">
                <div class="h-5/9 w-1/2 md:w-1/3 aspect-square rounded-[25px] bg-blue_bgprimary"></div>
            </div>
            <div class="flex justify-center mt-[10px]">
                <h1 class="font-inter font-semibold text-blue_bgdark text-[30px]">
                    TPS3R
                </h1>
            </div>
            <div class="flex justify-center mt-[5px]">
                <p class="w-full h-auto font-inter font-medium text-text_grey text-[16px] text-center leading-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis mi in risus bibendum, sed luctus metus mollis. Suspendisse risus ipsum, imperdiet vel tellus at, vulputate blandit ligula. Mauris semper in ante a bibendum.
                </p>
            </div>
        </div>
        <div class="h-auto w-full mx-[5px]">
            <div class="flex justify-center">
                <div class="h-5/9 w-1/2 md:w-1/3 aspect-square rounded-[25px] bg-blue_bgprimary"></div>
            </div>
            <div class="flex justify-center mt-[10px]">
                <h1 class="font-inter font-semibold text-blue_bgdark text-[30px]">
                    Sosialisasi
                </h1>
            </div>
            <div class="flex justify-center mt-[5px]">
                <p class="w-full h-auto font-inter font-medium text-text_grey text-[16px] text-center leading-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis mi in risus bibendum, sed luctus metus mollis. Suspendisse risus ipsum, imperdiet vel tellus at, vulputate blandit ligula. Mauris semper in ante a bibendum.
                </p>
            </div>
        </div>
        <div class="h-auto w-full mx-[5px]">
            <div class="flex justify-center">
                <div class="h-5/9 w-1/2 md:w-1/3 aspect-square rounded-[25px] bg-blue_bgprimary"></div>
            </div>
            <div class="flex justify-center mt-[10px]">
                <h1 class="font-inter font-semibold text-blue_bgdark text-[30px]">
                    Pemetaan
                </h1>
            </div>
            <div class="flex justify-center mt-[5px]">
                <p class="w-full h-auto font-inter font-medium text-text_grey text-[16px] text-center leading-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis mi in risus bibendum, sed luctus metus mollis. Suspendisse risus ipsum, imperdiet vel tellus at, vulputate blandit ligula. Mauris semper in ante a bibendum.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mt-[20px] lg:mt-[30px] h-auto py-[20px] px-[40px] lg:py-[60px] lg:px-[100px] bg-light_grey">
    <div class="flex flex-col lg:flex-row w-full h-full justify-center lg:items-center">
        <div class="place-self-center h-full w-full md:w-[60%] lg:w-5/12 aspect-4/3 bg-slate-400 rounded-[30px]"></div>
        <div class="flex flex-col lg:ml-[50px] lg:w-7/12 space-y-[5px] lg:space-y-[15px] h-full">
            <h1 class="text-center lg:text-left font-bold font-inter text-blue_bgdark text-[50px]">
                TPS3R
            </h1>
            <p class="text-center lg:text-left leading-5 font-inter font-medium text-text_grey text-[16px] lg:text-[20px]">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
</div>
{% endblock content %}