{% extends 'base.html' %}
{% load static %}
{% block title %}
    Survey Sampah
{% endblock title %}

{% block others %}
{% include 'partials/others.html' %}
{% endblock others %}

{% block content %}
{% include 'partials/navbar.html' %}

<div class="h-auto px-[40px] py-[20px] lg:py-[60px] lg:px-[80px]" style="background-image: url('{% static 'image/pic_LandingBg.png' %}');">
    <div class="flex flex-col justify-center space-y-[25px]">
        <h1 class="font-inter font-bold text-[60px] text-blue_bgsoft text-center">
            Survey Sampah
        </h1>
        <div class="w-[750px] self-center aspect-video bg-slate-300 rounded-[15px]"></div>
    </div>
</div>

{% endblock content%}