{% load static %}

{% if page.has_other_pages %}
<div class="mt-[40px] flex justify-center items-center h-auto">
    {% if page.has_previous %}
        <a class="h-auto flex flex-row items-center space-x-0" href = "?page={{ page.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
            <div class="aspect-square h-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                    <g clip-path="url(#a)">
                    <path fill="#BE1A1A" fill-rule="evenodd" d="M2.563 10.938 11.5 2l2.063 2.063L4.624 13l8.938 8.938L11.5 24l-8.938-8.938L.5 13l2.063-2.063Z" clip-rule="evenodd"/>
                    </g>
                    <defs>
                    <clipPath id="a">
                        <path fill="#fff" d="M0 0h25v25H0z" transform="translate(.5 .5)"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
            <h1 class="font-inter font-bold text-[20px] text-darker_red">
                Prev
            </h1>
        </a>
    {% else %}
        <div class="h-auto flex flex-row items-center space-x-0">
            <div class="aspect-square h-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                    <g clip-path="url(#a)">
                    <path fill="#6C6C6C" fill-rule="evenodd" d="M2.563 10.938 11.5 2l2.063 2.063L4.624 13l8.938 8.938L11.5 24l-8.938-8.938L.5 13l2.063-2.063Z" clip-rule="evenodd"/>
                    </g>
                    <defs>
                    <clipPath id="a">
                        <path fill="#fff" d="M0 0h25v25H0z" transform="translate(.5 .5)"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
            <h1 class="font-inter font-medium text-[20px] text-text_grey">
                Prev
            </h1>
        </div>
    {% endif %}
    <div class=" mx-[30px] gap-[10px] flex">
        {% for i in page.paginator.page_range %}
            {% if page.number == i %}
                <div class="bg-darker_red rounded-[10px] px-[22px] aspect-square flex items-center">
                    <h1 class="font-bold font-inter text-[25px] text-white">{{ i }}</h1>
                </div>
            {% else %}
                <a class="bg-white rounded-[10px] border-[2px] border-darker_red px-[18px] aspect-square flex items-center"
                href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    <h1 class="font-bold font-inter text-[25px]">{{ i }}</h1>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    {% if page.has_next %}
        <a class="h-auto flex flex-row items-center space-x-0" href = "?page={{ page.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
            <h1 class="font-inter font-bold text-[20px] text-darker_red">
                Next
            </h1>
            <div class="aspect-square h-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                    <g clip-path="url(#a)">
                    <path fill="#BE1A1A" fill-rule="evenodd" d="M23.541 10.938 14.604 2 12.54 4.063 21.48 13l-8.938 8.938L14.604 24l8.937-8.938L25.604 13l-2.063-2.063Z" clip-rule="evenodd"/>
                    </g>
                    <defs>
                    <clipPath id="a">
                        <path fill="#fff" d="M0 0h25v25H0z" transform="translate(.5 .5)"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
        </a>
    {% else %}
        <div class="h-auto flex flex-row items-center space-x-0">
            <h1 class="font-inter font-medium text-[20px] text-text_grey">
                Next
            </h1>
            <div class="aspect-square h-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                    <g clip-path="url(#a)">
                    <path fill="#6C6C6C" fill-rule="evenodd" d="M23.541 10.938 14.604 2 12.54 4.063 21.48 13l-8.938 8.938L14.604 24l8.937-8.938L25.604 13l-2.063-2.063Z" clip-rule="evenodd"/>
                    </g>
                    <defs>
                    <clipPath id="a">
                        <path fill="#fff" d="M0 0h25v25H0z" transform="translate(.5 .5)"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    {% endif %}
</div>
{% endif %}