{% load static %}

<div class="flex flex-row justify-center space-x-[30px]">
    <div class="w-full bg-white rounded-[10px] drop-shadow-lg">
        <div class="flex flex-col px-[20px] py-[20px] space-y-[30px]">
            <h1 class="font-bold font-inter text-[25px]">
                Data Survey Sampah Non Perumahan
            </h1>
            <div class="grow">
                <div class="p-[5px] bg-blue_bgnavbase rounded-[10px]">
                    <ul id = "myTab2" class="nav-page flex flex-row space-x-[5px] font-inter font-semibold text-[15px] items-center w-auto">
                        <li class="text-white py-[7px] px-[30px] rounded-[5px] bg-[#94ABD0]">
                            <a class = "active" data-toggle="tab" data-target="#first" href="#first" id = "default">Hari 1</a>
                        </li>
                        <li class="py-[7px] px-[30px] rounded-[5px] text-[#94ABD0]">
                            <a data-toggle="tab" data-target="#second" href="#second">Hari 2</a>
                        </li>
                        <li class="py-[7px] px-[30px] rounded-[5px] text-[#94ABD0]">
                            <a data-toggle="tab" data-target="#third" href="#third">Hari 3</a>
                        </li>
                        <li class="py-[7px] px-[30px] rounded-[5px] text-[#94ABD0]">
                            <a data-toggle="tab" data-target="#fourth" href="#fourth">Hari 4</a>
                        </li>
                        <li class="py-[7px] px-[30px] rounded-[5px] text-[#94ABD0]">
                            <a data-toggle="tab" data-target="#fifth" href="#fifth">Hari 5</a>
                        </li>
                        <li class="py-[7px] px-[30px] rounded-[5px] text-[#94ABD0]">
                            <a data-toggle="tab" data-target="#sixth" href="#sixth">Hari 6</a>
                        </li>
                        <li class="py-[7px] px-[30px] rounded-[5px] text-[#94ABD0]">
                            <a data-toggle="tab" data-target="#seventh" href="#seventh">Hari 7</a>
                        </li>
                        <li class="py-[7px] px-[30px] rounded-[5px] text-[#94ABD0]">
                            <a data-toggle="tab" data-target="#eighth" href="#eighth">Hari 8</a>
                        </li>
                    </ul>
                </div>
                <div id = "tab-contents2" class = "p-[10px]">
                    <div class="tab-pane active" id = "first">
                        <canvas id = "data2-chart-1" width="1000" height="300"></canvas>
                        <button onclick = "resetZoomChart1()" class="mt-[15px] bg-blue_bgnavbase rounded-[7px] border-[#C9D9F4] border-[2px] focus:border-[#94ABD0] font-inter font-medium text-[15px] text-[#94ABD0] px-[15px] py-[5px]">
                            Reset
                        </button>
                    </div>
                    <div class="hidden tab-pane" id = "second">
                        <canvas id = "data2-chart-2" width="1000" height="300"></canvas>
                        <button onclick = "resetZoomChart2()" class="mt-[15px] bg-blue_bgnavbase rounded-[7px] border-[#C9D9F4] border-[2px] focus:border-[#94ABD0] font-inter font-medium text-[15px] text-[#94ABD0] px-[15px] py-[5px]">
                            Reset
                        </button>
                    </div>
                    <div class="hidden tab-pane" id = "third">
                        <canvas id = "data2-chart-3" width="1000" height="300"></canvas>
                        <button onclick = "resetZoomChart3()" class="mt-[15px] bg-blue_bgnavbase rounded-[7px] border-[#C9D9F4] border-[2px] focus:border-[#94ABD0] font-inter font-medium text-[15px] text-[#94ABD0] px-[15px] py-[5px]">
                            Reset
                        </button>
                    </div>
                    <div class="hidden tab-pane" id = "fourth">
                        <canvas id = "data2-chart-4" width="1000" height="300"></canvas>
                        <button onclick = "resetZoomChart4()" class="mt-[15px] bg-blue_bgnavbase rounded-[7px] border-[#C9D9F4] border-[2px] focus:border-[#94ABD0] font-inter font-medium text-[15px] text-[#94ABD0] px-[15px] py-[5px]">
                            Reset
                        </button>
                    </div>
                    <div class="hidden tab-pane" id = "fifth">
                        <canvas id = "data2-chart-5" width="1000" height="300"></canvas>
                        <button onclick = "resetZoomChart5()" class="mt-[15px] bg-blue_bgnavbase rounded-[7px] border-[#C9D9F4] border-[2px] focus:border-[#94ABD0] font-inter font-medium text-[15px] text-[#94ABD0] px-[15px] py-[5px]">
                            Reset
                        </button>
                    </div>
                    <div class="hidden tab-pane" id = "sixth">
                        <canvas id = "data2-chart-6" width="1000" height="300"></canvas>
                        <button onclick = "resetZoomChart6()" class="mt-[15px] bg-blue_bgnavbase rounded-[7px] border-[#C9D9F4] border-[2px] focus:border-[#94ABD0] font-inter font-medium text-[15px] text-[#94ABD0] px-[15px] py-[5px]">
                            Reset
                        </button>
                    </div>
                    <div class="hidden tab-pane" id = "seventh">
                        <canvas id = "data2-chart-7" width="1000" height="300"></canvas>
                        <button onclick = "resetZoomChart7()" class="mt-[15px] bg-blue_bgnavbase rounded-[7px] border-[#C9D9F4] border-[2px] focus:border-[#94ABD0] font-inter font-medium text-[15px] text-[#94ABD0] px-[15px] py-[5px]">
                            Reset
                        </button>
                    </div>
                    <div class="hidden tab-pane" id = "eighth">
                        <canvas id = "data2-chart-8" width="1000" height="300"></canvas>
                        <button onclick = "resetZoomChart8()" class="float-left mt-[15px] bg-blue_bgnavbase rounded-[7px] border-[#C9D9F4] border-[2px] focus:border-[#94ABD0] font-inter font-medium text-[15px] text-[#94ABD0] px-[15px] py-[5px]">
                            Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let tabsContainer2 = document.querySelector("#myTab2");
    let tabTogglers2 = tabsContainer2.querySelectorAll("#myTab2 a");

    const chartOptions2 = {
        responsive: true,
        indexAxis: 'x',
        elements: {
            bar: {
                borderWidth: 2,
            }
        },
        plugins: {
            zoom: {
                pan:{
                    enabled: true,
                    mode:'x',
                    speed: 0.1,
                },
                zoom: {
                    wheel: {
                        enabled: true,
                        speed: 0.1,
                    },
                    pinch: {
                        enabled: true,
                        speed: 0.1,
                    },
                    mode: 'x',
                },
                
            }
        },
    };

    const chartLabels2 = ['Organik', 'Kertas', 'Kayu', 'Kain', 'Karet/Kulit', 'Plastik', 'Logam', 'Gelas/Kaca', 'Lain-lain'];

    console.log(tabTogglers2);

    tabTogglers2.forEach(function(toggler2) {
    toggler2.addEventListener("click", function(e) {
        e.preventDefault();

        let tabName2 = this.getAttribute("href");

        let tabContents2 = document.querySelector("#tab-contents2");

        for (let i = 0; i < tabContents2.children.length; i++) {
        
            tabTogglers2[i].parentElement.classList.remove("bg-[#94ABD0]", "text-white"); 
            tabTogglers2[i].parentElement.classList.add("text-[#94ABD0]");
            tabContents2.children[i].classList.remove("hidden");
            if ("#" + tabContents2.children[i].id === tabName2) {
                continue;
            }
            tabContents2.children[i].classList.add("hidden");
        
        }
        e.target.parentElement.classList.remove("text-[#94ABD0]");
        e.target.parentElement.classList.add("bg-[#94ABD0]", "text-white");
        });
    });
      
    var ctx2_1 = document.getElementById('data2-chart-1');
    var ctx2_2 = document.getElementById('data2-chart-2');
    var ctx2_3 = document.getElementById('data2-chart-3');
    var ctx2_4 = document.getElementById('data2-chart-4');
    var ctx2_5 = document.getElementById('data2-chart-5');
    var ctx2_6 = document.getElementById('data2-chart-6');
    var ctx2_7 = document.getElementById('data2-chart-7');
    var ctx2_8 = document.getElementById('data2-chart-8');
      
    var data2Chart_1 = new Chart(ctx2_1, {
        type: 'bar',
        data: {
            labels: chartLabels2,
            datasets: [
            {
                label: 'Grha Setyowati',
                data: [2.5, 1.3, 0, 0, 0, 0.3, 0, 0, 0.2],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            {
                label: 'Masjid Al Azhar',
                data: [0.9, 0.2, 0.15, 0.1, 0, 2, 0, 0, 0.25],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgb(255, 159, 64)'],
                borderWidth: 1
            },
            {
                label: 'Pasar Gentan',
                data: [1.25, 0.25, 0, 0.1, 0, 0.6, 0.25, 0, 2.2],
                backgroundColor: ['rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgb(255, 205, 86)'],
                borderWidth: 1
            },
            {
                label: 'Hotel Ommaya',
                data: [1.5, 0.05, 0.05, 0.25, 0, 1.6, 0.3, 0, 1.5],
                backgroundColor: ['rgba(255, 205, 86, 0.2)',],
                borderColor: ['rgb(75, 192, 192)'],
                borderWidth: 1
            },
            {
                label: 'Luwes Gentan',
                data: [2.05, 0.2, 0.05, 0, 0, 1.1, 0.1, 0, 0.6],
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgb(54, 162, 235)'],
                borderWidth: 1
            },
            {
                label: 'SD Gentan 1',
                data: [0.6, 0.05, 0, 0, 0, 0.4, 0.15, 0, 0.1],
                backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                borderColor: ['rgb(153, 102, 255)'],
                borderWidth: 1
            },
            {
                label: 'Kelurahan Gentan',
                data: [2.65, 0.2, 0.1, 0, 0, 1.4, 0, 0, 2.8],
                backgroundColor: ['rgba(201, 203, 207, 0.2)'],
                borderColor: ['rgb(201, 203, 207)'],
                borderWidth: 1
            },
            {
                label: 'SFA Steak Gentan',
                data: [6.5, 0.5, 0.05, 0, 0, 1.5, 0, 0, 0.75],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            ]
        },
        options: chartOptions2,
    });

    var data2Chart_2 = new Chart(ctx2_2, {
        type: 'bar',
        data: {
            labels: chartLabels2,
            datasets: [
            {
                label: 'Grha Setyowati',
                data: [3.5, 0, 0, 0, 0, 0, 0, 0, 0],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            {
                label: 'Masjid Al Azhar',
                data: [0, 0.15, 0, 0, 0, 0.3, 0, 0, 0.1],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgb(255, 159, 64)'],
                borderWidth: 1
            },
            {
                label: 'Pasar Gentan',
                data: [1.5, 0.45, 0.05, 0, 0, 0.5, 0.5, 0, 0.45],
                backgroundColor: ['rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgb(255, 205, 86)'],
                borderWidth: 1
            },
            {
                label: 'Hotel Ommaya',
                data: [1, 0.7, 0, 0.05, 0, 2, 0.01, 0, 0.9],
                backgroundColor: ['rgba(255, 205, 86, 0.2)',],
                borderColor: ['rgb(75, 192, 192)'],
                borderWidth: 1
            },
            {
                label: 'Luwes Gentan',
                data: [0.6, 0.6, 0.15, 0, 0.2, 1.4, 0, 0, 0.9],
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgb(54, 162, 235)'],
                borderWidth: 1
            },
            {
                label: 'SD Gentan 1',
                data: [7.4, 0, 0, 0, 0, 0, 0, 0, 0],
                backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                borderColor: ['rgb(153, 102, 255)'],
                borderWidth: 1
            },
            {
                label: 'Kelurahan Gentan',
                data: [0.5, 0.3, 0.05, 0, 0, 0.4, 0, 0, 0.45],
                backgroundColor: ['rgba(201, 203, 207, 0.2)'],
                borderColor: ['rgb(201, 203, 207)'],
                borderWidth: 1
            },
            {
                label: 'SFA Steak Gentan',
                data: [5.15, 0.1, 0.04, 0, 0, 1.25, 0.2, 0, 0.2],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            ]
        },
        options: chartOptions2,
    });
    
    var data2Chart_3 = new Chart(ctx2_3, {
        type: 'bar',
        data: {
            labels: chartLabels2,
            datasets: [
            {
                label: 'Grha Setyowati',
                data: [5.95, 0.15, 0, 0, 0, 0, 0, 0, 0],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            {
                label: 'Masjid Al Azhar',
                data: [0.2, 0.1, 0, 0, 0, 0.2, 0, 0, 0.05],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgb(255, 159, 64)'],
                borderWidth: 1
            },
            {
                label: 'Pasar Gentan',
                data: [6.9, 0, 0, 0, 0, 0.3, 0, 0, 0.9],
                backgroundColor: ['rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgb(255, 205, 86)'],
                borderWidth: 1
            },
            {
                label: 'Hotel Ommaya',
                data: [1.3, 1.1, 0, 0, 0, 1.3, 0.1, 0.7, 1.4],
                backgroundColor: ['rgba(255, 205, 86, 0.2)',],
                borderColor: ['rgb(75, 192, 192)'],
                borderWidth: 1
            },
            {
                label: 'Luwes Gentan',
                data: [1.3, 0.15, 0.1, 0, 0, 1.1, 0, 0, 5.5],
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgb(54, 162, 235)'],
                borderWidth: 1
            },
            {
                label: 'SD Gentan 1',
                data: [6.6, 0.15, 0.01, 0, 0, 1.15, 0, 0, 0.15],
                backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                borderColor: ['rgb(153, 102, 255)'],
                borderWidth: 1
            },
            {
                label: 'Kelurahan Gentan',
                data: [2.2, 0.45, 0.01, 0, 0.5, 1.55, 0, 0, 1.6],
                backgroundColor: ['rgba(201, 203, 207, 0.2)'],
                borderColor: ['rgb(201, 203, 207)'],
                borderWidth: 1
            },
            {
                label: 'SFA Steak Gentan',
                data: [5, 0, 0.1, 0, 0, 1.45, 0, 0, 0.45],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            ]
        },
        options: chartOptions2,
    });

    var data2Chart_4 = new Chart(ctx2_4, {
        type: 'bar',
        data: {
            labels: chartLabels2,
            datasets: [
            {
                label: 'Grha Setyowati',
                data: [4.8, 0, 0, 0, 0, 0, 0, 0, 0],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            {
                label: 'Masjid Al Azhar',
                data: [0, 0.05, 0, 0, 0, 0, 0.15, 0, 0],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgb(255, 159, 64)'],
                borderWidth: 1
            },
            {
                label: 'Pasar Gentan',
                data: [0.6, 0.1, 0.15, 0, 0, 0.3, 0, 0, 0.9],
                backgroundColor: ['rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgb(255, 205, 86)'],
                borderWidth: 1
            },
            {
                label: 'Hotel Ommaya',
                data: [6.65, 0.8, 1.65, 0.1, 0, 1.7, 0, 0, 5.95],
                backgroundColor: ['rgba(255, 205, 86, 0.2)',],
                borderColor: ['rgb(75, 192, 192)'],
                borderWidth: 1
            },
            {
                label: 'Luwes Gentan',
                data: [2.3, 0.1, 0.1, 0, 0, 1.25, 0, 0, 0.5],
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgb(54, 162, 235)'],
                borderWidth: 1
            },
            {
                label: 'SD Gentan 1',
                data: [6.75, 0.1, 0, 0.01, 0, 1.9, 0, 0, 0.1],
                backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                borderColor: ['rgb(153, 102, 255)'],
                borderWidth: 1
            },
            {
                label: 'Kelurahan Gentan',
                data: [0.1, 0.45, 0, 0, 0, 0.5, 0.01, 0, 0.45],
                backgroundColor: ['rgba(201, 203, 207, 0.2)'],
                borderColor: ['rgb(201, 203, 207)'],
                borderWidth: 1
            },
            {
                label: 'SFA Steak Gentan',
                data: [6.3, 0.6, 0, 0, 0, 1.6, 0, 0, 0.2],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            ]
        },
        options: chartOptions2,
    });

    var data2Chart_5 = new Chart(ctx2_5, {
        type: 'bar',
        data: {
            labels: chartLabels2,
            datasets: [
            {
                label: 'Grha Setyowati',
                data: [7.5, 0, 0, 0, 0, 0, 0, 0, 0],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            {
                label: 'Masjid Al Azhar',
                data: [0.1, 0.01, 0, 0, 0, 0.1, 0, 0, 0.25],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgb(255, 159, 64)'],
                borderWidth: 1
            },
            {
                label: 'Pasar Gentan',
                data: [4.2, 0, 0, 0, 0, 0.05, 0.25, 0, 0.01],
                backgroundColor: ['rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgb(255, 205, 86)'],
                borderWidth: 1
            },
            {
                label: 'Hotel Ommaya',
                data: [2.5, 0.5, 0, 0, 0, 2.7, 0, 0.25, 2.1],
                backgroundColor: ['rgba(255, 205, 86, 0.2)',],
                borderColor: ['rgb(75, 192, 192)'],
                borderWidth: 1
            },
            {
                label: 'Luwes Gentan',
                data: [3.3, 0.15, 0.1, 0, 0, 1.5, 0.01, 0, 1.25],
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgb(54, 162, 235)'],
                borderWidth: 1
            },
            {
                label: 'SD Gentan 1',
                data: [2.55, 0.15, 0, 0.1, 0, 0.5, 0, 0, 0.45],
                backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                borderColor: ['rgb(153, 102, 255)'],
                borderWidth: 1
            },
            {
                label: 'Kelurahan Gentan',
                data: [1.45, 0.3, 0, 0.05, 0.05, 1.1, 0, 0, 0.5],
                backgroundColor: ['rgba(201, 203, 207, 0.2)'],
                borderColor: ['rgb(201, 203, 207)'],
                borderWidth: 1
            },
            {
                label: 'SFA Steak Gentan',
                data: [1.6, 0.05, 0, 0, 0, 0.05, 0, 0, 0.01],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            ]
        },
        options: chartOptions2,
    });

    var data2Chart_6 = new Chart(ctx2_6, {
        type: 'bar',
        data: {
            labels: chartLabels2,
            datasets: [
            {
                label: 'Grha Setyowati',
                data: [4.9, 0, 0.1, 0, 0, 0.05, 0, 0, 0.01],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            {
                label: 'Masjid Al Azhar',
                data: [0.25, 0.1, 0.01, 0, 0, 0.85, 0.05, 0, 0.01],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgb(255, 159, 64)'],
                borderWidth: 1
            },
            {
                label: 'Pasar Gentan',
                data: [6.5, 0.4, 0.3, 0.5, 0, 2.25, 0, 0, 0],
                backgroundColor: ['rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgb(255, 205, 86)'],
                borderWidth: 1
            },
            {
                label: 'Hotel Ommaya',
                data: [0.9, 0.3, 0.01, 0, 0, 0.7, 0.05, 0, 2.3],
                backgroundColor: ['rgba(255, 205, 86, 0.2)',],
                borderColor: ['rgb(75, 192, 192)'],
                borderWidth: 1
            },
            {
                label: 'Luwes Gentan',
                data: [7.4, 0.05, 0.9, 0.01, 0.05, 1.7, 0, 0, 0.8],
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgb(54, 162, 235)'],
                borderWidth: 1
            },
            {
                label: 'SD Gentan 1',
                data: [3.2, 0.5, 0, 0, 0, 1.15, 0, 0, 0.2],
                backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                borderColor: ['rgb(153, 102, 255)'],
                borderWidth: 1
            },
            {
                label: 'Kelurahan Gentan',
                data: [0.6, 0.3, 0.01, 0, 0, 0.5, 0.1, 0, 0.4],
                backgroundColor: ['rgba(201, 203, 207, 0.2)'],
                borderColor: ['rgb(201, 203, 207)'],
                borderWidth: 1
            },
            {
                label: 'SFA Steak Gentan',
                data: [4.05, 0.05, 0, 0, 0, 0.5, 0, 0, 0.8],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            ]
        },
        options: chartOptions2,
    });

    var data2Chart_7 = new Chart(ctx2_7, {
        type: 'bar',
        data: {
            labels: chartLabels2,
            datasets: [
            {
                label: 'Grha Setyowati',
                data: [8.4, 0, 0, 0, 0, 0, 0, 0, 0],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            {
                label: 'Masjid Al Azhar',
                data: [0, 0.2, 0, 0, 0, 0.15, 0, 0, 0.15],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgb(255, 159, 64)'],
                borderWidth: 1
            },
            {
                label: 'Pasar Gentan',
                data: [6.4, 0.3, 0, 0, 0, 1.3, 0.5, 0, 0],
                backgroundColor: ['rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgb(255, 205, 86)'],
                borderWidth: 1
            },
            {
                label: 'Hotel Ommaya',
                data: [3, 0.05, 0, 0.5, 0, 2.05, 0, 0.1, 2.05],
                backgroundColor: ['rgba(255, 205, 86, 0.2)',],
                borderColor: ['rgb(75, 192, 192)'],
                borderWidth: 1
            },
            {
                label: 'Luwes Gentan',
                data: [2.5, 0, 0.15, 0, 0, 1.3, 0.1, 0, 1.9],
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgb(54, 162, 235)'],
                borderWidth: 1
            },
            {
                label: 'SD Gentan 1',
                data: [2.2, 0.3, 0, 0.2, 0, 0.4, 0, 0, 0.45],
                backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                borderColor: ['rgb(153, 102, 255)'],
                borderWidth: 1
            },
            {
                label: 'Kelurahan Gentan',
                data: [0.25, 0.15, 0, 0, 0, 1, 0.01, 0, 1],
                backgroundColor: ['rgba(201, 203, 207, 0.2)'],
                borderColor: ['rgb(201, 203, 207)'],
                borderWidth: 1
            },
            {
                label: 'SFA Steak Gentan',
                data: [5.35, 0.15, 0, 0, 0, 1.15, 0, 0, 0.5],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            ]
        },
        options: chartOptions2,
    });

    var data2Chart_8 = new Chart(ctx2_8, {
        type: 'bar',
        data: {
            labels: chartLabels2,
            datasets: [
            {
                label: 'Grha Setyowati',
                data: [0.9, 0.2, 0.15, 0.1, 0, 2, 0, 0, 0.25],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            {
                label: 'Masjid Al Azhar',
                data: [0.5, 0.15, 0, 0, 0, 0.1, 0, 0, 0.25],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgb(255, 159, 64)'],
                borderWidth: 1
            },
            {
                label: 'Pasar Gentan',
                data: [5.7, 0.35, 0.2, 0, 0, 1.4, 0.1, 0, 0.5],
                backgroundColor: ['rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgb(255, 205, 86)'],
                borderWidth: 1
            },
            {
                label: 'Hotel Ommaya',
                data: [1.6, 0.5, 0, 0, 0, 1.5, 0.1, 0, 0.8],
                backgroundColor: ['rgba(255, 205, 86, 0.2)',],
                borderColor: ['rgb(75, 192, 192)'],
                borderWidth: 1
            },
            {
                label: 'Luwes Gentan',
                data: [2.5, 0.2, 0.2, 0.1, 0, 2.4, 0, 0, 1.2],
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgb(54, 162, 235)'],
                borderWidth: 1
            },
            {
                label: 'SD Gentan 1',
                data: [3.9, 0.05, 0, 0, 0, 0.3, 0, 0, 0.5],
                backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                borderColor: ['rgb(153, 102, 255)'],
                borderWidth: 1
            },
            {
                label: 'Kelurahan Gentan',
                data: [2.2, 0.15, 0, 0, 0, 0.2, 0, 0, 0.15],
                backgroundColor: ['rgba(201, 203, 207, 0.2)'],
                borderColor: ['rgb(201, 203, 207)'],
                borderWidth: 1
            },
            {
                label: 'SFA Steak Gentan',
                data: [6.3, 0, 0, 0, 0, 2.2, 0, 0, 1.9],
                backgroundColor: ['rgba(255, 159, 64, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            },
            ]
        },
        options: chartOptions2,
    });


    function resetZoomChart1(){
        data2Chart_1.resetZoom();
    }
    function resetZoomChart2(){
        data2Chart_2.resetZoom();
    }
    function resetZoomChart3(){
        data2Chart_3.resetZoom();
    }
    function resetZoomChart4(){
        data2Chart_4.resetZoom();
    }
    function resetZoomChart5(){
        data2Chart_5.resetZoom();
    }
    function resetZoomChart6(){
        dataChart_6.resetZoom();
    }
    function resetZoomChart7(){
        data2Chart_7.resetZoom();
    }
    function resetZoomChart8(){
        data2Chart_8.resetZoom();
    }

</script>