{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ activity.title }}
{% endblock title %}
    {% block others %}
    {% include 'partials/others.html' %}
    {% endblock others %}
{% block content %}
{% include 'partials/navbar.html' %}
<div class="flex">
    <div class="flex flex-col lg:flex-row w-full">
        <div class="flex flex-1 w-full lg:w-[70%]">
            <div class="paragraph w-full">
                <div class="h-auto p-[40px] lg:p-[50px] w-full">
                    <div class="mb-[30px] h-auto w-full">
                        <h1 class="font-inter font-bold text-[50px] text-blog_dark mb-[25px]">
                            {{ activity.title }}
                        </h1>
                        <div class="flex items-center gap-[20px] w-full h-auto">
                            <div class="aspect-square w-[15%] lg:w-[10%] rounded-full bg-soft_grey"></div>
                            <div class="">
                                <h1 class="font-inter font-medium text-[22px] text-blog_dark mb-[5px]">
                                    {{ activity.author }}
                                </h1>
                                <h1 class="font-inter font-base text-[18px] text-[#5B5B5B]">
                                    {{ activity.publish.date }}
                                </h1>
                            </div>
                        </div>
                    </div>
                    <img src="{{ activity.image.url }}" alt="" class="w-full rounded-[10px] aspect-9/5 bg-slate-800 mb-[25px] object-cover">
                    <div class="font-inter font-base text-[16px] lg:text-[20px] text-blog_dark h-auto mb-[100px]">
                        {{ activity.body|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:flex flex-col h-auto p-[30px] w-full lg:w-[30%] bg-blue_bgbase">
            <h1 class="font-inter font-bold text-[25px] mb-[30px]">
                Aktivitas terbaru
            </h1>
            <div class="flex flex-col space-y-[10px] w-full h-auto mb-[50px]">
                {% for activity_latest in activities %}
                    <a href = "{{ activity_latest.get_absolute_url }}" class="flex w-full aspect-7/2 bg-white rounded-[10px] transition ease-in-out hover:-translate-y-1 lg:hover:translate-x-1 hover:scale-102 duration-250">
                        <img src="{{ activity_latest.image.url }}" class="flex-none rounded-[10px] h-full w-[45%] bg-slate-500 object-cover"></img>
                        <div class="m-[10px] md:m-[20px] lg:m-[10px]">
                            <h1 class="font-inter font-base text-[10px] md:text-[15px] lg:text-[10px] text-[#5B5B5B]">
                                {{ activity_latest.publish.date }}
                            </h1>
                            <h1 class="font-inter font-semibold text-[13px] md:text-[18px] lg:text-[13px]">
                                {{activity_latest.title|truncatechars:95}}
                            </h1>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <h1 class="font-inter font-bold text-[25px] mb-[20px]">
                Kontak
            </h1>
            <div class="flex flex-col bg-white p-[15px] h-auto w-full space-y-[10px] rounded-[10px]">
                <a href = "https://www.instagram.com/kkn.sinergibaki/" class="flex items-center space-x-[10px]">
                    <div class="flex w-[10%] aspect-square rounded-[10px] bg-blue_bgslate p-[5px] items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
                            <path stroke="#fff" stroke-miterlimit="10" stroke-width="1.599" d="M14.946.96H3.055A2.095 2.095 0 0 0 .96 3.055v11.891c0 1.157.938 2.095 2.095 2.095h11.891a2.095 2.095 0 0 0 2.095-2.095V3.055A2.095 2.095 0 0 0 14.946.96Z"/>
                            <path fill="#fff" d="M13.921 4.532a.617.617 0 1 0 0-1.233.617.617 0 0 0 0 1.233Z"/>
                            <path stroke="#fff" stroke-miterlimit="10" stroke-width="1.599" d="M8.84 13.46a4.464 4.464 0 1 0 0-8.927 4.464 4.464 0 0 0 0 8.928Z"/>
                        </svg>
                    </div>
                    <h1 class="flex flex-1 font-inter font-medium text-[13px] text-dark_grey">
                        kkn.sinergibaki
                    </h1>
                </a>
                <a href = "#" class="flex items-center space-x-[10px]">
                    <div class="flex w-[10%] aspect-square rounded-[10px] bg-blue_bgslate p-[5px] items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" fill="none" viewBox="0 0 19 18">
                            <rect width="16.081" height="16.081" x="1.461" y=".868" stroke="#fff" stroke-width="1.6" rx="2.27"/>
                            <path fill="#fff" d="M9.837 6.647v2.261h-2.01v2.345h2.01v5.696h2.345v-5.696h2.01l.335-2.345h-2.345V7.15c0-.694.563-1.256 1.256-1.256h1.424v-2.01c-.67-.293-1.172-.335-1.884-.335a3.14 3.14 0 0 0-3.14 3.099Z"/>
                        </svg>
                    </div>
                    <h1 class="flex flex-1 font-inter font-medium text-[13px] text-dark_grey">
                        kkn.sinergibaki
                    </h1>
                </a>
                <a href = "https://www.youtube.com/channel/UCByvzA3ewo5eSVLH8tWZV-g" class="flex items-center space-x-[10px]">
                    <div class="flex w-[10%] aspect-square rounded-[10px] bg-blue_bgslate p-[5px] items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
                            <g clip-path="url(#a)">
                              <path fill="#fff" d="M13.826 7.322a.783.783 0 0 1 0 1.356L4.174 14.25A.783.783 0 0 1 3 13.573V2.427a.783.783 0 0 1 1.174-.677l9.652 5.572Z"/>
                            </g>
                            <defs>
                              <clipPath id="a">
                                <path fill="#fff" d="M0 0h16v16H0z"/>
                              </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <h1 class="flex flex-1 font-inter font-medium text-[13px] text-dark_grey">
                        KKN.SinergiBaki
                    </h1>
                </a>
                <a href = "#" class="flex items-center space-x-[10px]">
                    <div class="flex w-[10%] aspect-square rounded-[10px] bg-blue_bgslate p-[5px] items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
                            <path stroke="#fff" stroke-miterlimit="10" stroke-width="1.599" d="M15.83 14.664H2.17a1.3 1.3 0 0 1-1.3-1.3V4.636a1.292 1.292 0 0 1 1.3-1.292h13.66a1.292 1.292 0 0 1 1.292 1.292v8.728a1.292 1.292 0 0 1-1.292 1.3Zm-.09-11.32H2.276a1.389 1.389 0 0 0-1.39 1.381l6.879 4.732a2.525 2.525 0 0 0 2.584 0l1.211-.832 5.578-4.011a1.382 1.382 0 0 0-1.396-1.27Z"/>
                        </svg>
                    </div>
                    <h1 class="flex flex-1 font-inter font-medium text-[13px] text-dark_grey">
                        kkn.ppm.ugm.sinergibaki@gmail.com
                    </h1>
                </a>
            </div>
        </div>
    </div>
</div>  

{% include 'partials/footer.html' %}

{% endblock content %}