{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard Data
{% endblock title %}

{% block others %}
{% include 'partials/others.html' %}
{% endblock others %}

{% block content %}
{% include 'partials/navbar.html' %}
<div class="h-auto w-auto px-[30px] md:px-[50px] pb-[50px] pt-[20px]">
    <h1 class="mb-[30px] font-inter font-bold text-dark_section_grey text-[30px]">
        Dashboard Data Survey
    </h1>
    <div class="flex flex-col bg-blue_bgbase px-[30px] py-[30px] space-y-[30px]">
        {% include 'partials/wasteData_housing.html' %}
        {% include 'partials/wasteData_nonHousing.html' %}
    </div>
</div>

     
{% include 'partials/footer.html' %}

{% endblock content %}