{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home Page
{% endblock title %}
    {% block others %}
    {% include 'partials/others.html' %}
    {% endblock others %}

{% block content %}
{% include 'partials/navbar.html' %}
<div class="h-auto px-[40px] py-[20px] lg:py-[60px] lg:px-[80px]" style="background-image: url('{% static 'image/pic_LandingBg.png' %}');">
    <div class="flex flex-col-reverse lg:flex-row w-full h-full items-center">
        <div class="h-auto w-full lg:w-[60%] lg:mr-[50x]">
            <h1 class="font-inter font-semibold text-white text-[40px] lg:text-[50px] lg:w-2/3 leading-[50px] text-center lg:text-left">
                KKN Sinergi Baki Desa Gentan
            </h1>
            <p class="font-inter font-base text-white text-[15px] lg:text-[20px] mt-[15px] text-center lg:text-left">
                Selamat datang di website KKN-PPM UGM Sinergi Baki Desa Gentan. Website ini ditujukan untuk menampilkan hasil kerja tim mahasiswa KKN UGM yang bertugas di Kelurahan Gentan, Kecamatan Baki, Kabupaten Sukoharjo, Jawa Tengah. 
            </p>
        </div>
        <div class="h-full w-full md:w-[60%] lg:w-[40%]">
            <img src="{% static 'image/pic_LandingGentan.png' %}" alt="" class="w-full aspect-square">
        </div>
    </div>
</div>

<div class="mt-[20px] lg:mt-[30px] h-auto py-[20px] px-[40px] lg:py-[40px] lg:px-[90px] bg-light_grey">
    <h1 class="flex justify-center font-bold font-inter text-[40px] text-blue_bgdarker">
        Program Kami
    </h1>
    <div class="flex flex-col lg:flex-row space-y-[30px] lg:space-y-0 mt-[20px] lg:mt-[40px] h-auto w-full justify-center">
        <div class="h-auto w-full mx-[5px]">
            <div class="flex justify-center">
                <img class="h-5/9 w-1/2 md:w-[70%] aspect-7/5 rounded-[25px] bg-transparent object-contain object-bottom transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-250"
                src="{% static 'logo/icon_TPS3R2.png' %}">
                </img>
            </div>
            <div class="flex justify-center mt-[10px]">
                <h1 class="font-inter font-semibold text-blue_bgdark text-[30px]">
                    TPS3R
                </h1>
            </div>
            <div class="flex justify-center mt-[5px]">
                <p class="w-full h-auto font-inter font-medium text-text_grey text-[16px] text-center leading-5">
                    Salah satu rancangan pengembangan yang kami lakukan yaitu pengembangan TPS-3R. TPS-3R bertujuan agar pengolahan sampah dapat dilakukan secara lebih efektif dan masih dapat didaur kembali.
                </p>
            </div>
        </div>
        <div class="h-auto w-full mx-[5px]">
            <div class="flex justify-center">
                <img class="h-5/9 w-1/2 md:w-[70%] aspect-7/5 rounded-[25px] bg-transparent object-contain object-bottom transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-250"
                src="{% static 'logo/icon_Sosialisasi2.png' %}">
                </img>
            </div>
            <div class="flex justify-center mt-[10px]">
                <h1 class="font-inter font-semibold text-blue_bgdark text-[30px]">
                    Sosialisasi
                </h1>
            </div>
            <div class="flex justify-center mt-[5px]">
                <p class="w-full h-auto font-inter font-medium text-text_grey text-[16px] text-center leading-5">
                    Kami melakukan sosialisasi mengenai berbagai bidang dan topik yang ditujukan pada berbagai tingkat kalangan masyarakat, seperti siswa SD, SMP, ataupun masyarakat desa. 
                </p>
            </div>
        </div>
        <div class="h-auto w-full mx-[5px]">
            <div class="flex justify-center">
                <img class="h-5/9 w-1/2 md:w-[70%] aspect-7/5 rounded-[25px] bg-transparent object-contain object-bottom transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-250"
                src="{% static 'logo/icon_Pemetaan2.png' %}">
                </img>
            </div>
            <div class="flex justify-center mt-[10px]">
                <h1 class="font-inter font-semibold text-blue_bgdark text-[30px]">
                    Pemetaan
                </h1>
            </div>
            <div class="flex justify-center mt-[5px]">
                <p class="w-full h-auto font-inter font-medium text-text_grey text-[16px] text-center leading-5">
                    Kami melakukan survey pemetaan di Desa Gentan dengan mengumpulkan data-data fasilitas pengelolaan sampah di desa. Data ini akan divisualisasikan menjadi grafik yang mudah dibaca serta dibuat ke dalam bentuk peta yang dapat diakses dengan mudah.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mt-[20px] lg:mt-[30px] h-auto py-[20px] px-[40px] lg:py-[60px] lg:px-[100px] bg-light_grey">
    <div class="flex flex-col lg:flex-row w-full h-full justify-center lg:items-center">
        <img class="place-self-center h-full w-full md:w-[60%] lg:w-5/12 aspect-4/3 object-cover rounded-[30px]" src = {% static 'image/pic_SurveySampah.jpg' %}></img>
        <div class="mt-[10px] lg:mt-0 flex flex-col lg:ml-[50px] lg:w-7/12 space-y-[5px] lg:space-y-[15px] h-full">
            <h1 class="text-center lg:text-left font-bold font-inter text-blue_bgdark text-[35px] lg:text-[50px]">
                Survey Sampah
            </h1>
            <div class="flex flex-col space-y-[20px] md:space-y-[30px]">
                <p class="text-center lg:text-left leading-7 font-inter font-medium text-text_grey text-[16px] lg:text-[20px]">
                    Salah satu program utama dari KKN-PPM UGM Sinergi Baki adalah pelaksanaan survey sampah yang dilakukan selama 8 hari dengan mengambil sampah dari 10 rumah dan 8 non-perumahan sebagai sampel. 
                </p>
                <div class="flex justify-center lg:justify-start">
                    <a href="{% url 'website:surveysampah' %}" class="transition ease-in-out hover:-translate-y-1 lg:hover:translate-x-1 hover:scale-105 duration-250 px-[35px] lg:px-[25px] py-[10px] font-inter font-medium text-[15px] text-white bg-blue_bgdark hover:bg-blue_bgdarker rounded-[8px]">
                        Selengkapnya
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/footer.html' %}

{% endblock content %}